html {
	height : 100%;
}


body {
	margin: 0;
	padding: 0;
	height : 100%;
	font-family: main;
	background : linear-gradient(90deg, #33ccff 0%,#ff99cc 100%);
	background-position: center;
	background-repeat: repeat-y;
	position: relative;
}

h1 {
	font-family : main;
}

@font-face {
	font-family : main;
	src : url(KGBehindTheseHazelEyes.ttf);
}

@font-face {
	font-family: segoe;
	src: url(font.ttf);
}