.button-group-container {
    display: flex;
    justify-content: center;
}



@media only screen and (max-width: 400px) {
    .button-group-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-pic-edit input {
        max-width: 100px;
    }
}